.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!bootstrap/cache/.gitkeep
*.md
.DS_Store
Thumbs.db
tests
.phpunit.result.cache
docker
Dockerfile
.dockerignore
README.md
